.navbar {
  display: grid;
  grid-auto-columns: 1fr;
  background-color: rgba(0, 0, 0, 0.87);
  padding: 2rem;
}

.link {
  text-decoration: none;
}

.link__nav {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

.link__nav:first-child {
  font-size: 1.8rem;
  font-weight: bold;
}

a {
  cursor: pointer;
}
